# Ignore environment variable files
.env
.env.*

# Ignore Docker-related files that aren't necessary to track
**/.DS_Store
**/docker-compose.override.yml
**/docker-compose.*.local.yml
**/docker-compose.*.dev.yml

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.swp
*.bak
*.old

# Ignore Python cache, if you use any scripts
__pycache__/
*.py[cod]

# VSCode settings (if using VSCode)
.vscode/

# Node modules (if JS tooling involved)
node_modules/

# Ignore system files
Thumbs.db
.DS_Store
